feign:
  client:
    config:
      default:
        connectTimeout: 60000
        readTimeout: 60000
        loggerLevel: basic
      apiconectorclient:
        url: '${CONECTOR_URL:http://localhost:9002/conector}'

management:
  endpoints:
    web:
      base-path: /metrics
      exposure:
        include: "health,info"
server:
  port :  9001
  servlet:
    contextPath: /bff